<h1>Add a New Volunteer</h1>

<form action="/projects/:id/volunteers" method="post">
  <div class="form-group">
    <label for="name">Volunteer Name</label>
    <input id="name_input" name="name" class="form-control" type="text">
    <label for="project_id">Project ID</label>
    <input id="project_id_input" name="project_id" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">Add Volunteer</button>
</form>
